.ChatBody {
    position: absolute;
    top: 120px;
    bottom: 60px;
    left: 0;
    right: 0;
    
    overflow: scroll;
    overflow-x: hidden;
    
    ::-webkit-scrollbar {
        display: none;
    }
    
    padding: .75rem;
    background-color: #1e272c;
}