.ChatContainer {
    width: 50vw;
    height: 100vh;
    border: 1px solid #37474f;

    position: absolute;
    bottom: 0;

    z-index: 1;
}

.user-icon {
    text-align: center;
    margin:auto;
    
    border-radius: 50%;
    background-color: lightgray;
  
    &.is-xl {
        width: 39px;

        .fa-user {
            font-size: x-large;
        }
    }
    
    &.is-xxl {
        padding: 3px;
        width: 48px;

        .fa-user {
            font-size: xx-large;
        }
    }
    
    .fa-user {
        margin: 5px;  
    }
}

@media only screen and (max-width: 550px) {
    .ChatContainer {
        width: 100vw;
        height: 95vh;

        &.tab-active {
            width: 100vw;
            z-index: 2;
        }
    }
}