.Message {
    position: relative;
    text-align: left;
    width: 100%;
    margin-left: auto;

    .user-icon {
        // clear: both;
        margin: 5px;
    }

    .text {
        display: block;
        color: white;
        border-radius: 20px;
        margin: 5px;
        padding: 6px 12px;
        max-width: 60%;

        font-size: 1.25rem;
        word-wrap: break-word;
    }

    &.sent {
        text-align: right;
        .text {
            text-align: left;
            display:inline-block;
            // position: absolute;
            bottom: 0;
            right: 49px;
            // float: right;
            // clear: left;
            margin-left: auto;
           
            background-color: #039be5;
            border-bottom-right-radius: 0px;
        }

        .message-info {

        }
    }
    &.recieved {
        .user-icon {
            display:inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            // float: left;
            // clear: both;
            // margin: 5px;
        }
        
        .text {
            display:inline-block;
            margin-left: 52px;
            // float: left;
            // clear: right;
            background-color: #78909c;
            border-bottom-left-radius: 0px;
        }

        .message-info {
            // float: left;
            // clear: both;

            margin: 0 5px;
            // padding: 6px 12px;
            
            font-size: .85rem;
        }
    }
}


@media only screen and (max-width: 550px) {
    .text {
        max-width: 65% !important;
    }
}